/*
Project    : startOfGame.css
FILE       : A04
Programmer : Erik Holmes
Date       : October 
Description: This file will contain all the styling for the startOfGame.html file. 
*/

body{
    text-align: center;
    background-color: lightgrey;
}
h1{
    color: orange;
}

#nameErrorMsg{
    color: red;
}

#enterNameDiv{
    border-style: dashed;
    padding-bottom: 20px;
}


